body{
  font-family: sans-serif;
}
.emails-input{
  border-radius: 8px;  
  background: #fff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);  
}
.emails-input__top{
  background: #F8F8F7;
  padding: 20px;
  border-radius: 8px 8px 0 0;
}
.emails-input__header{  
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #050038;
  margin-bottom: 20px;
}
.emails-input__bottom{
  padding: 20px;
}
.emails-input__bottom button{
  background: #4262FF;
  border-radius: 6px; 
  padding : 8px 16px;
  margin-right: 16px; 
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  border-style:none;
}
.emails-input__body{
  height:75px;
  overflow-y: auto;
  background: #FFFFFF;
  border: 1px solid #C3C2CF;
  box-sizing: border-box;
  border-radius: 4px;  
  padding:5px;
  font-size: 14px;
  line-height: 24px;  
}
.emails-input__body input{
  border :none;  
}
.emails-input__body input:focus, .emails-input__body input:focus{
  outline: none;
}
.emails-input__body span{
  display: inline-block;
  background: rgba(102, 153, 255, 0.2);
  border-radius: 100px;
  padding:0px 10px;
  margin:0 3px; 
  line-height: 18px;
}
.emails-input__body span.invalid{
  border-bottom: 1px dashed #D92929;
  line-height: 14px;
  background:none;
  border-radius:0;
  padding:3px 5px;
  margin:0 3px;  
}
.emails-input__body span i.icon{
  cursor: pointer;
  padding-left: 3px;
  font-style: normal;
  font-weight: bold;  
}
.emails-input__body span i.icon:after {
    content: "\00D7"; 
}