h1, h2 {
  font-family: Lato;
}
input {
  border :none;
}
span{
  display: inline-block;
  background: rgba(102, 153, 255, 0.2);
  border-radius: 100px;
  padding:3px 10px;
  margin:0 3px;  
}
span.invalid{
  border-bottom: 1px dashed #D92929;
  background:none;
  border-radius:0;
  padding:3px 5px;
  margin:0 3px;  
}
span i{
  cursor: pointer
}